
/*
수정된 틀
*/
.table_ex {display: table; width: 100%; font-size: 14px;}
.table {display: table; width: 100%;}
.row {display: table-row;}
/*문항이 3개일때*/
.cell {display: table-cell; padding: 10px; border: 0.5px solid black}

/*문항이 4개일때*/
.cell2 {/* padding: 12px;*/ background-color: rgba(197, 195, 195, 0.40); display: table-cell;}

.col0{
    width: 2%;
    text-align: center;
}
.col1 { 
    width: 50%;
    text-align: center;
}
.col2 {
    width: 50%;
    text-align: center;
}

.col3 {width: 100%;
    font-weight: 100;
}

.col4 {
    width: 10%;
    font-weight: 100;
}
.survaysname1{
    /*flex: 1;*/
    width: 20%;
    text-align: center;
    /*box-sizing: border-box;*/
}

.survaysname2 {
    /*flex: 1;*/
    width: 20px;
    text-align: center;
    /*box-sizing: border-box;*/
}

p{
    color :navy;
    font-weight: 600;
}


header {
    border : 1px;
    padding: 10px;
    background-color: rgba(27, 156, 196, 0.6);
    height: 40px;
    font-size: 29px;
    font-weight: 600;
    color: white;
}

.cell3 {
    color :navy;
    text-align: center;
    width: 46%;
    float: left;
    font-weight: 600;
  }
  
  .cell4 {
    color :navy;
    text-align: center;
    width: 46%;
    float: right;
    font-weight: 600;
  }

  .cell5 {
    width: 5%;
    float: left;
    margin: 0;
  }

  body{
      border: 1px solid black;
      padding: 1%;
      max-height: 1280px;
      max-width: 800px;
      box-sizing: border-box;
  }

 .p1 {
    background-color: white;
    margin: 0;
    color: black;
    
  }

  input[type="radio"]{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    border: 1px solid black;
  }

  input[type="radio"]:checked{
      box-shadow: inset 0 0 0 20px rgba(255, 0, 0, 0.2);
      background-color: black;
    }

    fieldset {
        font-weight: bold;
    }


/*테스트
.cell_check:hover {
    background-color: yellow;
}
.cell_check:active {
    background-color: rgba(218, 36, 218, 0.6);
}
*/