/* 문자 인코딩 방식을 지정.
기계(컴퓨터, 브라우저)가 잘 이해할 수 있도록 알려준다. */
@charset "utf-8";

/*
수정된 틀
*/
.table_ex {
    display: table;
    width: 100%;
    font-size: 14px;
    border: 1px solid black;
    }
.table {display: table; width: 100%;}

.point_table {
    border-collapse: collapse;
    text-align: center;
    border: 3px double orange;
    margin: auto;
}

tr {
    height: 30px;
    border-bottom:  1px solid red;
}
.row {display: table-row;}

.col0{
    width: 2%;
    text-align: center;
}

.col1 { 
    width: 50%;
    text-align: center;
}
.col2 {
    width: 50%;
    text-align: center;
}

.col3 {width: 100%;
    font-weight: bold;
}

.col4 {
    width: 10%;
    font-weight: bold;
}

/*예시 문구*/
.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
}

/*설문지 문구*/
.cell2 {
    background-color: rgba(96, 96, 96, 0.5);
    display: table-cell;
}

.cell3 {
    color :navy;
    text-align: left;
    width: 40%;
    float: left;
    font-weight: 600;
}
  
  .cell4 {
    color :navy;
    text-align: left;
    width: 40%;
    float: right;
    font-weight: 600;
}

  .cell5 {
    width: 7%;
    float: left;
    margin: 0;
}
  
  .cell6 {
    float: left;
    position: relative;
    width: 5px;
    left: 3%;
    height: 42px;
    margin-left: 0;
    background: rgba(82, 85, 82, 0.2);
}

.survaysname1{
    /*flex: 1;*/
    width: 20%;
    text-align: center;
    /*box-sizing: border-box;*/
}

.survaysname2 {
    /*flex: 1;*/
    width: 20px;
    text-align: center;
    /*box-sizing: border-box;*/
}

.survay0_radio {
    width: 5%;
    text-align: center;
}

p{
    color :navy;
    font-weight: 600;
}

.p1 {
    background-color: white;
    margin: 0;
    color: black;
    padding-bottom: 10px;
}

header {
    border : 1px;
    padding: 10px;
    height: 30px;
    font-size: 23px;
    font-weight: 600;
    color: white;
}
/*
body{
    border: 1px solid black;
    padding: 0.6%;
    padding-bottom: 0.1%;
    max-height: 960px;
    max-width: 1280px;
    box-sizing: border-box ;
}
*/

body{
    margin: 0 auto;
    border: 1px solid black;
    padding: 0.6%;
    padding-bottom: 0.1%;
    max-height: auto;
    max-width: 1280px;
    vertical-align: middle;
    box-sizing: border-box;
}

fieldset{
    background-color:  rgba(214, 224, 120, 0.185);
}

legend {
    text-align: center;
    font-weight: 900;
}

  input[type="radio"]{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    border: 1px solid black;
  }
/* 가상 클래스 */
  input[type="radio"]:checked{
      box-shadow: inset 0 0 0 20px rgba(255, 0, 0, 0.2);
      background-color: black;
    }

.flexbox1 {
    display: flex;
    /* justify-content는 플렉스 요소의 수평 방향 정렬 방식을 설정합니다. */
    justify-content: center;
}


/* 2번 페이지 (적성 검사) */
.header_0 {
    background-color: rgba(211, 130, 24, 0.6);
}
/* 3번 페이지 (레인보우) */
.header_1 {
    background-color: rgba(202, 19, 147, 0.6);
}

/* 맨 처음에 만든 것 */
.header_2 {
    background-color: rgba(27, 156, 196, 0.6);
}

/* 박스가 있는 문항 */
.txtBox0 {
    border-style: solid;
    border-width: 2px;
    padding: 12px;
    word-break: break-all;
    font-weight: 700;
}

/* 특정 문항 리스트 */
ul{
    padding-left: 60px;
    font-weight: 700;
    list-style-type: disc;
    padding-bottom: 4px;
}

/* 라벨 포인터 */
label{
    cursor: pointer;
}

/* 형제 관계(동위 관계)에서 뒤에 위치하는 요소를 선택 */
input:checked + span {
    width: auto;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.2);
}
/* 왼쪽 여백 */
.LeftPadd {
    padding-left: 5%;
}