
/*
수정된 틀
*/
.table_ex {
    display: table;
    width: 100%;
    font-size: 14px;
    border: 1px solid black;
    }
.table {display: table; width: 100%;}
.row {display: table-row;}

/* 예시 문구 */
.cell {
    display: table-cell;
    padding: 10px;
    border: 1px solid black;
}

/*문항이 4개일때*/
.cell2 {/* padding: 12px;*/ background-color: rgba(96, 96, 96, 0.5) ; display: table-cell;}

.col0{
    width: 2%;
    text-align: center;
}
.col1 { 
    width: 50%;
    text-align: center;
}
.col2 {
    width: 50%;
    text-align: center;
}

.col3 {
    width: 100%;
    font-weight: bold;
}

.col4 {
    width: 10%;
    font-weight: bold;
}
.survaysname1{
    /*flex: 1;*/
    width: 20%;
    text-align: center;
    /*box-sizing: border-box;*/
}

.survaysname2 {
    /*flex: 1;*/
    width: 20px;
    text-align: center;
    /*box-sizing: border-box;*/
}

p{
    color :navy;
    font-weight: 600;
}


header {
    border : 1px;
    padding: 10px;
    background-color: rgba(27, 156, 196, 0.6);
    height: 30px;
    font-size: 23px;
    font-weight: 600;
    color: white;
}

.cell3 {
    color :navy;
    text-align: left;
    width: 43%;
    float: left;
    font-weight: 600;
  }
  
  .cell4 {
    color :navy;
    text-align: left;
    width: 46%;
    float: right;
    font-weight: 600;
  }

  .cell5 {
    width: 4%;
    float: left;
    margin: 0;
  }
  
  .cell6 {
    float: left;
    position: relative;
    width: 5px;
    left: 3%;
    height: 42px;
    margin-left: 0;
    background: rgba(82, 85, 82, 0.2);
  }

  body{
      border: 1px solid black;
      padding: 0.6%;
      padding-bottom: 0.1%;
      max-height: auto;
      max-width: 1280px;
      box-sizing: border-box ;
  }

 .p1 {
    background-color: white;
    margin: 0;
    color: black;
    padding-bottom: 10px;
  }

  input[type="radio"]{
    width: 100%;
    text-align: center;
    cursor: pointer;
    margin: 0;
    border: 1px solid black;
  }

  input[type="radio"]:checked{
      box-shadow: inset 0 0 0 20px rgba(255, 0, 0, 0.2);
      background-color: black;
    }

fieldset {
    background-color:  rgba(214, 224, 120, 0.185);
    font-weight: bold;
}

legend {
    text-align: center;
    font-weight: 900;
}

/*테스트
.cell_check:hover {
    background-color: yellow;
}
.cell_check:active {
    background-color: rgba(218, 36, 218, 0.6);
}
*/